page-chapter-screen {
  .PercentageIcons{
    float: left;
    font-size: 48px;
    padding: 0px 15px;
    color: red;
  }
  .PercentageFonts{
    float: left;
  }
  .PercentageFonts h3{
    font-size: 18px;
    font-weight: 700;
  }
  .hrFonts{
    float: left;
  }
  .hrFonts h3{
    font-size: 18px;
    font-weight: 700;
  }
  .leftBorder{
    border-left: 2px solid #000;
  }
  .IconVideos{
    font-size: 23px;
    padding: 0px 10px;
    color: #f7a94a;
  }
  .FontsVideos{
    font-size: 23px;
    color: #f7a94a;
  }
  .textFonts{
    font-size: 23px;
    color: #f7a94a;
    float: right;
  }

  .IconVideos-1{
    font-size: 23px;
    padding: 0px 10px;
    color: #bf6b93;
  }
  .FontsVideo-1{
    font-size: 23px;
    color: #bf6b93;
  }
  .textFonts-1{
    font-size: 23px;
    color: #bf6b93;
    float: right;
  }
  .IconVideos-2{
    font-size: 23px;
    padding: 0px 10px;
    color: #1dc6a9;
  }
  .FontsVideo-2{
    font-size: 23px;
    color: #1dc6a9;
  }
  .textFonts-2{
    font-size: 23px;
    color: #1dc6a9;
    float: right;
  }
  .IconVideos-3{
    font-size: 23px;
    padding: 0px 10px;
    color: #a586e3;
  }
  .FontsVideo-3{
    font-size: 23px;
    color: #a586e3;
  }
  .textFonts-3{
    font-size: 23px;
    color: #a586e3;
    float: right;
  }

}
