page-bookmarks {

  $toolbar-background: blue;
  .tabs-md .tab-button {

      font-weight: normal;
      color: rgba(60, 60, 60, 0.7);
      padding: 0;
  }
  $colors: (
    primary:    #8B4789,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    color1: #15c178,
    color2: #8B4789,
    color3 : #F8AE26,
    color4: #673665,
    brown: #B75E33,
    ycBlue: #638AF1
  );


  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #F8AE26;
}
}
